ul{
    background:rgba(66, 95, 93, 0.425);
    list-style: none;
}

a{ 
    font-size: 19px;
    color: rgb(204, 179, 179);
    display: block;
    text-decoration: none;
    text-align: center;
}

a:hover{
    background:rgb(96, 133, 96)
}

nav ul li ul{
   display:none;
}

nav ul li:hover > ul{
    display: block;
}

.card{
    width: 170px;
    background:rgba(66, 95, 93, 0.425);
}

label{
    font-size: 15px;
    color: white;
}
